@model IEnumerable<CookBook.Models.Recipe>

@{
    ViewData["Title"] = "Recipe List";
}

<h2>Recipe List</h2>

<p>
    <a asp-action="Initialize">Generate example recipes</a>
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="CookBook" asp-action="Index">
    <p>
        Name: <input type="text" name="SearchPattern">
        <input type="submit" value="Search" />
        <button asp-action="Index">Clear</button>
    </p>
</form>
<table class="table">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Time (min)
        </th>
        <th>
            Likes
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfLikes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>